
.back{
    height: auto;
   padding: 5px;
    background-color: rgb(245, 245, 94);
    color: gray;
    text-align: center;
    
}
.back:hover{
    background-color: gray;
    color:  rgb(245, 245, 94);
}
.text-body{
    text-decoration: none;
    color: gray;
}
