<div class="card" style="width: 100%; height:55vh; display: flex;">
   <div routerLink="/detalis/{{product.id}}">
        <img src="{{product.image}}"   class="card-img-top"  style="width: 100%; height:25vh;" alt="..." >
        <h5 class="card-title" style="height: 30%;" > {{product.title}}</h5>
  </div>
    
    <div class="card-body" style="width: 100%;height: auto" >
            
            <p class="card-text">{{product.price | currency}}</p>
          
            <input type="number" min=1 class="form-control" value="1" style="width: 30%;position: relative; left: 35%; margin-bottom: 5px;" [(ngModel)]="myquantity">
            
           
            <button type="button" class="btn" (click)="add()">Add To Cart</button>
    
    </div>
</div>