
    <div class="row">
        <div class="col-md-5 col-sm-12">
           <img src="{{data.image}}" alt="dd" style="width: 30vh; height:auto;">
        </div>
        <div class="col-md-7 col-sm-12">
            <div class="">
                <ul class="">
                    <li style="width: 50%; position: relative; right: 30%;">Title :{{data.title}}</li>
                    <li style="width: auto; position: relative; right: 30%;">Description :{{data.description}}</li>
                     <li style="width: 50%; position: relative; right: 30%;">Price :{{data.price}}</li>

                     
                </ul>

                
            </div>
            
        </div>
        <div class="pt-5 "   style="width: 10%" >
            <h6 class="mb-0 back" ><a href="#!" class="text-body" routerLink="/allProducts"><i
                  class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
          </div>
    </div>

